.firstpage-contact {
  background-color: #F0EFE9;
  position: relative;
}
@media (max-width: 500px) {
  .firstpage-contact {
    padding-bottom: 32px;
  }
}
.firstpage-contact .background-lines {
  position: absolute;
  width: 836px;
  height: 215px;
  bottom: 0;
  left: 0;
}
@media (max-width: 1400px) {
  .firstpage-contact .background-lines {
    display: none;
  }
}
.firstpage-contact .header {
  display: flex;
  background-color: #F0EFE9;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 1000px) {
  .firstpage-contact .header {
    border-bottom: 1px solid black;
    padding-bottom: 24px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: space-between;
  }
}
.firstpage-contact .header .mobile-menu {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.692);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  gap: 40px;
  z-index: 1;
}
.firstpage-contact .header .mobile-menu a {
  color: white;
  font-size: 40px;
  width: 100%;
  text-align: center;
  padding: 10px;
}
.firstpage-contact .header .mobile-button {
  font-size: 32px;
  margin-right: 0rem;
}
.firstpage-contact .header .mobile-button button {
  border: none;
}
@media (min-width: 1000px) {
  .firstpage-contact .header .mobile-button {
    display: none;
  }
}
@media (min-width: 500px) {
  .firstpage-contact .header .mobile-button {
    font-size: 48px;
  }
}
.firstpage-contact .header .logo img {
  padding: 2rem;
  padding-right: 4rem;
}
@media (max-width: 500px) {
  .firstpage-contact .header .logo img {
    padding: 0;
  }
}
.firstpage-contact .header .topmeny {
  flex: 1;
}
@media (max-width: 1000px) {
  .firstpage-contact .header .topmeny {
    display: none;
  }
}
.firstpage-contact .header .topmeny .contact {
  display: flex;
  padding-top: 1rem;
  justify-content: space-between;
  border-bottom: solid;
  border-color: #DCDCD6;
  border-width: 0.1rem;
  padding-bottom: 1rem;
}
@media (max-width: 1000px) {
  .firstpage-contact .header .topmeny .contact {
    display: none;
  }
}
.firstpage-contact .header .topmeny .contact .phone {
  display: flex;
  gap: 20px;
}
.firstpage-contact .header .topmeny .contact .phone i {
  margin-right: 0.5rem;
}
.firstpage-contact .header .topmeny .contact .socialmedia i {
  margin-left: 1.3rem;
}
@media (max-width: 1200px) {
  .firstpage-contact .header .topmeny .contact .socialmedia i {
    display: none;
  }
}
.firstpage-contact .header .topmeny .menu {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  align-items: center;
}
@media (max-width: 1000px) {
  .firstpage-contact .header .topmeny .menu {
    display: none;
  }
}
.firstpage-contact .header .topmeny .menu .nav {
  gap: 29px;
}
.firstpage-contact .header .topmeny .menu .nav a {
  position: relative;
  text-decoration: none;
}
.firstpage-contact .header .topmeny .menu .nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  display: block;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  bottom: 0;
  left: 0;
  transform-origin: top left;
}
.firstpage-contact .header .topmeny .menu .nav a:hover:before {
  transform: scaleX(1);
}
.firstpage-contact .section-title {
  padding-top: 106px;
  padding-bottom: 92px;
  display: block;
}
@media (max-width: 500px) {
  .firstpage-contact .section-title {
    padding-bottom: 10px;
  }
}
.firstpage-contact .section-title div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.firstpage-contact .section-title div a {
  position: relative;
  text-decoration: none;
}
.firstpage-contact .section-title div a:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  bottom: 0;
  left: 0;
  transform-origin: top left;
}
.firstpage-contact .section-title div a:hover:before {
  transform: scaleX(1);
}
.firstpage-contact .section-title h2 {
  text-align: center;
  font-size: 56px;
  margin-top: 6px;
}